.card-style{
    padding: 10px;
    max-width: 40vw;
    margin: auto;
    margin-top: 20vh;
    border: 2px solid rgb(212, 196, 196) !important;
    box-shadow: 2px -5px 15px rgb(201, 225, 136);
  
}
.headpart{
    background-color:rgb(201, 225, 136) !important;
}

.btn-style{
    margin: 10px;
    background-color: rgb(201, 225, 136) !important;
    font-weight: bolder !important;
    color: black !important;
    border: 2px solid rgb(201, 225, 136) !important;
    box-shadow: 2px 2px 20px rgb(201, 225, 136); ;
}
.btn-style:hover{
    background-color: chartreuse !important;
}